h1.titol{ color: #2cc0ac;  }

strong{ color: #ff0000;  }

span.destacat{ color: #ffa600;  }

h2.subtitol{ color: #001aff;  }

i{ color: #0077ff;  }

a{ color: #ff0000; text-decoration:underline; }